body{
    margin: 0px;
    padding: 0px;
    background: #080e24;
    background-size: 100%;
}

/*Sol*/
.sun{
    height: 120px;
    width: 120px;
    background-image: url(../img/sol.png);
    border-radius: 50%;
    background-size: cover;
    background-color: #f9c05f;
    box-shadow: -4px 2px 56px #f9c05f;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*Mercurio*/
.mercury{
    height: 20px;
    width: 20px;
    background-image: url(../img/mercurio.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    left: 43%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit-mercury 2s linear infinite;
}

/*Animação da orbita de Mercurio*/
@keyframes orbit-mercury{
    from{
        transform: rotate(0deg) translateX(70px) rotate(0deg);    
    }
    to{
        transform: rotate(360deg) translateX(70px) rotate(-360deg); 
    }
}

/*Estilo do paragrafo*/
p{
    color: #fff;
    font-family: system-ui;
    position: absolute;
    left: -62px;
    top: -11px;
}

.mercury-outline, .venus-outline, .earth-outline, .mars-outline, .jupiter-outline,
.saturn-outline, .uranus-outline, .neptune-outline{
    border-radius: 50%;
    border: 1px dotted #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.mercury-outline{
    height: 140px;
    width: 140px;
}

/*Venus*/
.venus{
    height: 40px;
    width: 40px;
    background-image: url(../img/venus.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit-venus 10s linear infinite;
}

.venus-outline{
    height: 200px;
    width: 200px;
}

/*Animação da orbita de Venus*/
@keyframes orbit-venus{
    from{
        transform: rotate(0deg) translateX(100px) rotate(0deg);    
    }
    to{
        transform: rotate(360deg) translateX(100px) rotate(-360deg); 
    }
}

/*Terra*/
.earth{
    height: 50px;
    width: 50px;
    background-image: url(../img/terra.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    left: 44%;
    top: 43%;
    transform: translate(-50%,-50%);
    animation: orbit-earth 20s linear infinite;
}

.earth-outline{
    height: 300px;
    width: 300px;
}

.earth-circle{
    height: 65px;
    width: 65px;
    border: 1px dotted #fff;
    position: relative;
    left: -8px;
    top: -8px;
    border-radius: 40px;
}

.earth-inner{
    height: 10px;
    width: 10px;
    background-image: url(../img/lua.png);
    background-size: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 45%;
    animation: orbit-earth-inner 3s linear infinite
}

/*Animação da orbita da Terra*/
@keyframes orbit-earth{
    from{
        transform: rotate(0deg) translateX(150px) rotate(0deg);    
    }
    to{
        transform: rotate(360deg) translateX(150px) rotate(-360deg); 
    }
}

/*Animação da orbita da Lua*/
@keyframes orbit-earth-inner{
    from{
        transform: rotate(0deg) translateX(33px) rotate(0deg);    
    }
to{
        transform: rotate(360deg) translateX(33px) rotate(-360deg); 
    }
}

/*Marte*/
.mars{
    height: 30px;
    width: 30px;
    background-image: url(../img/marte.png);
    background-size: 100%;
    position: absolute;
    left: 46.5%;
    top: 46.5%;
    transform: translate(-50%,-50%);
    animation: orbit-mars 30s linear infinite;
}

.mars-outline{
    height: 370px;
    width: 370px;
}

/*Animação da orbita de Marte*/
@keyframes orbit-mars{
    from{
        transform: rotate(0deg) translateX(185px) rotate(0deg);    
    }
    to{
        transform: rotate(360deg) translateX(185px) rotate(-360deg); 
    }
}

/*Jupiter*/
.jupiter{
    height: 40px;
    width: 40px;
    background-image: url(../img/jupiter.png);
    background-size: 100%;
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%,-50%);
    animation: orbit-jupiter 60s linear infinite;
}

.jupiter-outline{
    height: 430px;
    width: 430px;
}

/*Animação da orbita de Jupiter*/
@keyframes orbit-jupiter{
    from{
        transform: rotate(0deg) translateX(217px) rotate(0deg);    
    }
    to{
        transform: rotate(360deg) translateX(217px) rotate(-360deg); 
    }
}

/*Saturno*/
.saturn{
    height: 50px;
    width: 50px;
    background-image: url(../img/saturno.png);
    background-size: 100%;
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%,-50%);
    animation: orbit-saturn 90s linear infinite;
}

.saturn-outline{
    height: 500px;
    width: 500px;
}
/*Animação da orbita de Saturno*/
@keyframes orbit-saturn{
    from{
        transform: rotate(0deg) translateX(250px) rotate(0deg);    
    }
    to{
        transform: rotate(360deg) translateX(250px) rotate(-360deg); 
    }
}

/*Urano*/
.uranus{
    height: 30px;
    width: 30px;
    background-image: url(../img/urano.png);
    background-size: 100%;
    position: absolute;
    left: 48%;
    top: 48%;
    transform: translate(-50%,-50%);
    animation: orbit-uranus 200s linear infinite;
}

.uranus-outline{
    height: 560px;
    width: 560px;
}

/*Animação da orbita de Urano*/
@keyframes orbit-uranus{
    from{
        transform: rotate(0deg) translateX(280px) rotate(0deg);    
    }
    to{
        transform: rotate(360deg) translateX(280px) rotate(-360deg); 
    }
}

/*Netuno*/
.neptune{
    height: 30px;
    width: 30px;
    background-image: url(../img/netuno.png);
    background-size: 100%;
    position: absolute;
    left: 48%;
    top: 48%;
    transform: translate(-50%,-50%);
    animation: orbit-neptune 400s linear infinite;
}

.neptune-outline{
    height: 620px;
    width: 620px;
}

/*Animação da orbita de Netuno*/
@keyframes orbit-neptune{
    from{
        transform: rotate(0deg) translateX(310px) rotate(0deg);    
    }
    to{
        transform: rotate(360deg) translateX(310px) rotate(-360deg); 
    }
}

/*Descrição dos planetas*/
ul.solarsystem {
    position: relative;
    height: 640px;
    list-style: none;
    -webkit-transition: all 0.09s ease-in;
    -moz-transition: all 0.09s ease-in;
    -o-transition: all 0.09s ease-in;
    transition: all 0.09s ease-in;
    overflow: hidden;
}
ul.solarsystem li {
    text-indent: -9999px;
    display: block;
    position: absolute;
    border: 2px solid #394057;
}
ul.solarsystem li.active.sun,
ul.solarsystem li.active span {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

ul#descriptions {
    position: absolute;
    top: 150px;
    right: 100px;
    list-style: none;
}
ul#descriptions h2 {
    cursor: pointer;
    color: #c9c9c9;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    font-size: 20px;
    position: relative;
    z-index: 101;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
	margin-bottom: -15px;
}
ul#descriptions h2:hover {
   color: #aa4200; 
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}
ul#descriptions li p {
    position: absolute;
    left: -250px;
    top: 0;
    width: 200px;
    display: inline;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #0f132c;
    padding: 30px;
    color: #c9c9c9;
    line-height: 1.7;
    z-index: 100;
    border: 1px solid #1c203c;
}
ul#descriptions h2:hover+p {
    visibility: visible;
    opacity: 0.9;
    left: -280px;
}
